@mixin nl-color-sample {
  background-image: repeating-conic-gradient(
    var(--nl-color-sample-background-color, hsl(0 0% 90%)) 0% 25%,
    #fff 0% 50%
  );
  background-size: 0.5rem 0.5rem;
  block-size: var(--nl-color-sample-block-size);
  border-color: var(--nl-color-sample-border-color);
  border-radius: var(--nl-color-sample-border-radius);
  border-style: solid;
  border-width: var(--nl-color-sample-border-width);
  box-sizing: border-box;
  display: inline-block;
  forced-color-adjust: none; // [1]
  inline-size: var(--nl-color-sample-inline-size);
  pointer-events: none;
}

// [1]: the purpose of this component is to display an exact color sample, we don't ever want the browser to interfere
