@mixin nl-code {
  background-color: var(--nl-code-background-color);
  color: var(--nl-code-color);
  font-family: var(--nl-code-font-family, monospace), monospace; // always offer monospace as a fallback
  font-size: var(--nl-code-font-size, inherit);
  hyphens: none;
  white-space: pre-wrap;
}
