@mixin nl-paragraph {
  color: var(--nl-paragraph-color, inherit);
  font-family: var(--nl-paragraph-font-family, inherit);
  font-size: var(--nl-paragraph-font-size, inherit);
  font-weight: var(--nl-paragraph-font-weight, inherit);
  line-height: var(--nl-paragraph-line-height, inherit);
  margin-block-end: var(--nl-paragraph-margin-block-end, revert);
  margin-block-start: var(--nl-paragraph-margin-block-start, revert);
}

@mixin nl-paragraph--lead {
  font-size: var(--nl-paragraph-lead-font-size, var(--nl-paragraph-font-size, inherit));
  font-weight: var(--nl-paragraph-lead-font-weight, var(--nl-paragraph-font-weight, inherit));
  line-height: var(--nl-paragraph-lead-line-height, var(--nl-paragraph-line-height, inherit));
  margin-block-end: var(--nl-paragraph-lead-margin-block-end, var(--nl-paragraph-margin-block-end, revert));
  margin-block-start: var(--nl-paragraph-lead-margin-block-start, var(--nl-paragraph-margin-block-start, revert));
}

/*
 * In SCSS the following mixins will overwrite each other:
 *
 * 1. `@mixin nl-paragraph--lead`
 * 2. `@mixin nl-paragraph__lead`
 *
 * Avoid this situation by using an alternative name for this mixin.
 */
@mixin nl-paragraph__lead-scss-workaround {
  font-weight: inherit;
}
