@mixin nl-paragraph {
  color: var(--nl-paragraph-color, var(--nl-document-color, inherit));
  font-family: var(--nl-paragraph-font-family, var(--nl-document-font-family, inherit));
  font-size: var(--nl-paragraph-font-size, var(--nl-document-font-size, inherit));
  font-weight: var(--nl-paragraph-font-weight, inherit);
  line-height: var(--nl-paragraph-line-height, var(--nl-document-line-height, inherit));
  margin-block-end: calc(var(--nl-space-around, 0) * var(--nl-paragraph-margin-block-end, 0));
  margin-block-start: calc(var(--nl-space-around, 0) * var(--nl-paragraph-margin-block-start, 0));
}

@mixin nl-paragraph--lead {
  color: var(--nl-paragraph-lead-color, var(--nl-paragraph-color, var(--nl-document-color, inherit)));
  font-size: var(--nl-paragraph-lead-font-size, var(--nl-paragraph-font-size, inherit));
  font-weight: var(--nl-paragraph-lead-font-weight, var(--nl-paragraph-font-weight, inherit));
  line-height: var(--nl-paragraph-lead-line-height, var(--nl-paragraph-line-height, inherit));
}

@mixin nl-paragraph--small {
  color: var(--nl-paragraph-small-color, var(--nl-paragraph-color, var(--nl-document-color, inherit)));
  font-size: var(--nl-paragraph-small-font-size, var(--nl-paragraph-font-size, inherit));
  font-weight: var(--nl-paragraph-small-font-weight, var(--nl-paragraph-font-weight, inherit));
  line-height: var(--nl-paragraph-small-line-height, var(--nl-paragraph-line-height, inherit));
}

@mixin nl-paragraph__b {
  font-weight: inherit;
}
