/**
 * @private
 */
@mixin invisible-but-accessible {
  /* Source: https://kittygiraudel.com/snippets/sr-only-class/ */
  block-size: 1px !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  inline-size: 1px !important;
  /* stylelint-disable-next-line property-disallowed-list */
  margin: -1px !important;
  overflow: hidden !important;
  /* stylelint-disable-next-line property-disallowed-list */
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}

@mixin nl-number-badge {
  align-items: center;
  background-color: var(--nl-number-badge-background-color);
  border-color: var(--nl-number-badge-border-color);
  border-radius: var(--nl-number-badge-border-radius);
  border-style: solid;
  border-width: var(--nl-number-badge-border-width, 1px);
  box-sizing: border-box;
  color: var(--nl-number-badge-color);
  display: inline-flex;
  font-family: var(--nl-number-badge-font-family);
  font-size: max(var(--nl-number-badge-font-size), 1rem);
  font-style: normal;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: var(--nl-number-badge-font-weight);
  justify-content: center;
  line-height: 1;
  max-block-size: max-content;
  max-inline-size: max-content;
  min-block-size: var(--nl-number-badge-min-block-size);
  min-inline-size: var(--nl-number-badge-min-inline-size);
  padding-block: var(--nl-number-badge-padding-block);
  padding-inline: var(--nl-number-badge-padding-inline);
  white-space: nowrap;
}

@mixin nl-number-badge__visible-label {
  display: inline;
}

/**
 * The accessible label for the number badge
 */
@mixin nl-number-badge__hidden-label {
  @include invisible-but-accessible;
}

@mixin nl-number-badge--forced-colors {
  border-color: currentColor !important;
  border-width: max(var(--nl-number-badge-min-border-width, 0), 1px) !important;

  /* Warning: there layout difference because of the added 1px border */
  color: currentColor !important;
}
