@mixin nl-button {
  --nl-icon-block-size: var(--nl-button-icon-size);
  --nl-icon-inline-size: var(--nl-button-icon-size);
  --nl-icon-color: currentColor;

  align-items: center;
  border-radius: var(--nl-button-border-radius);
  border-style: solid;
  box-sizing: border-box;
  column-gap: var(--nl-button-column-gap);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--nl-button-font-family);
  justify-content: center;
  min-block-size: var(--nl-button-min-block-size);
  min-inline-size: var(--nl-button-min-inline-size);
  outline-offset: var(--nl-button-outline-offset);
  overflow-wrap: break-word;
  padding-block-end: var(--nl-button-padding-block-end);
  padding-block-start: var(--nl-button-padding-block-start);
  padding-inline-end: var(--nl-button-padding-inline-end);
  padding-inline-start: var(--nl-button-padding-inline-start);
  text-align: start;
  text-box-trim: trim-both;

  /*
   * Button has formatted content but no icon or label elements. The display
   * property should be inline, otherwise the column-gap is wrongly applied
   */
  &:has(> :where(:first-child)):not(:has(> :where(.nl-button__icon, .nl-button__label))) {
    display: inline;
  }
}

@mixin nl-button--disabled {
  cursor: not-allowed;
}

@mixin nl-button--focus-visible {
  background-color: var(--nl-button-focus-background-color);
  border-color: var(--nl-button-focus-border-color);
  color: var(--nl-button-focus-color);
}

@mixin nl-button__icon {
  align-self: flex-start;
  block-size: var(--nl-icon-block-size);
  inline-size: var(--nl-icon-inline-size);
}

@mixin nl-button__label {
  overflow-wrap: break-word;
  text-box-trim: trim-both;
}

/* DEFAULT */
@mixin nl-button--default {
  background-color: var(--nl-button-default-background-color);
  border-color: var(--nl-button-default-border-color);
  border-width: var(--nl-button-default-border-width);
  color: var(--nl-button-default-color);
  font-size: var(--nl-button-default-font-size);
  font-weight: var(--nl-button-default-font-weight);
  line-height: var(--nl-button-default-line-height);
}

@mixin nl-button--default-active {
  background-color: var(--nl-button-default-active-background-color);
  border-color: var(--nl-button-default-active-border-color);
  color: var(--nl-button-default-active-color);
}

@mixin nl-button--default-disabled {
  background-color: var(--nl-button-default-disabled-background-color);
  border-color: var(--nl-button-default-disabled-border-color);
  color: var(--nl-button-default-disabled-color);
}

@mixin nl-button--default-hover {
  background-color: var(--nl-button-default-hover-background-color);
  border-color: var(--nl-button-default-hover-border-color);
  color: var(--nl-button-default-hover-color);
}

@mixin nl-button--default-pressed {
  background-color: var(--nl-button-default-pressed-background-color);
  border-color: var(--nl-button-default-pressed-border-color);
  color: var(--nl-button-default-pressed-color);
}

/* PRIMARY */
@mixin nl-button--primary {
  background-color: var(--nl-button-primary-background-color);
  border-color: var(--nl-button-primary-border-color);
  border-width: var(--nl-button-primary-border-width);
  color: var(--nl-button-primary-color);
  font-size: var(--nl-button-primary-font-size);
  font-weight: var(--nl-button-primary-font-weight);
  line-height: var(--nl-button-primary-line-height);
}

@mixin nl-button--primary-active {
  background-color: var(--nl-button-primary-active-background-color);
  border-color: var(--nl-button-primary-active-border-color);
  color: var(--nl-button-primary-active-color);
}

@mixin nl-button--primary-disabled {
  background-color: var(--nl-button-primary-disabled-background-color);
  border-color: var(--nl-button-primary-disabled-border-color);
  color: var(--nl-button-primary-disabled-color);
}

@mixin nl-button--primary-hover {
  background-color: var(--nl-button-primary-hover-background-color);
  border-color: var(--nl-button-primary-hover-border-color);
  color: var(--nl-button-primary-hover-color);
}

@mixin nl-button--primary-pressed {
  background-color: var(--nl-button-primary-pressed-background-color);
  border-color: var(--nl-button-primary-pressed-border-color);
  color: var(--nl-button-primary-pressed-color);
}

/* PRIMARY POSITIVE */
@mixin nl-button--primary-positive {
  background-color: var(--nl-button-primary-positive-background-color);
  border-color: var(--nl-button-primary-positive-border-color);
  color: var(--nl-button-primary-positive-color);
}

@mixin nl-button--primary-positive-active {
  background-color: var(--nl-button-primary-positive-active-background-color);
  border-color: var(--nl-button-primary-positive-active-border-color);
  color: var(--nl-button-primary-positive-active-color);
}

@mixin nl-button--primary-positive-disabled {
  background-color: var(--nl-button-primary-disabled-background-color);
  border-color: var(--nl-button-primary-disabled-border-color);
  color: var(--nl-button-primary-disabled-color);
}

@mixin nl-button--primary-positive-hover {
  background-color: var(--nl-button-primary-positive-hover-background-color);
  border-color: var(--nl-button-primary-positive-hover-border-color);
  color: var(--nl-button-primary-positive-hover-color);
}

@mixin nl-button--primary-positive-pressed {
  background-color: var(--nl-button-primary-positive-pressed-background-color);
  border-color: var(--nl-button-primary-positive-pressed-border-color);
  color: var(--nl-button-primary-positive-pressed-color);
}

/* PRIMARY NEGATIVE */
@mixin nl-button--primary-negative {
  background-color: var(--nl-button-primary-negative-background-color);
  border-color: var(--nl-button-primary-negative-border-color);
  color: var(--nl-button-primary-negative-color);
}

@mixin nl-button--primary-negative-active {
  background-color: var(--nl-button-primary-negative-active-background-color);
  border-color: var(--nl-button-primary-negative-active-border-color);
  color: var(--nl-button-primary-negative-active-color);
}

@mixin nl-button--primary-negative-disabled {
  background-color: var(--nl-button-primary-disabled-background-color);
  border-color: var(--nl-button-primary-disabled-border-color);
  color: var(--nl-button-primary-disabled-color);
}

@mixin nl-button--primary-negative-hover {
  background-color: var(--nl-button-primary-negative-hover-background-color);
  border-color: var(--nl-button-primary-negative-hover-border-color);
  color: var(--nl-button-primary-negative-hover-color);
}

@mixin nl-button--primary-negative-pressed {
  background-color: var(--nl-button-primary-negative-pressed-background-color);
  border-color: var(--nl-button-primary-negative-pressed-border-color);
  color: var(--nl-button-primary-negative-pressed-color);
}

/* SECONDARY */
@mixin nl-button--secondary {
  background-color: var(--nl-button-secondary-background-color);
  border-color: var(--nl-button-secondary-border-color);
  border-width: var(--nl-button-secondary-border-width);
  color: var(--nl-button-secondary-color);
  font-size: var(--nl-button-secondary-font-size);
  font-weight: var(--nl-button-secondary-font-weight);
  line-height: var(--nl-button-secondary-line-height);
}

@mixin nl-button--secondary-active {
  background-color: var(--nl-button-secondary-active-background-color);
  border-color: var(--nl-button-secondary-active-border-color);
  color: var(--nl-button-secondary-active-color);
}

@mixin nl-button--secondary-disabled {
  background-color: var(--nl-button-secondary-disabled-background-color);
  border-color: var(--nl-button-secondary-disabled-border-color);
  color: var(--nl-button-secondary-disabled-color);
}

@mixin nl-button--secondary-hover {
  background-color: var(--nl-button-secondary-hover-background-color);
  border-color: var(--nl-button-secondary-hover-border-color);
  color: var(--nl-button-secondary-hover-color);
}

@mixin nl-button--secondary-pressed {
  background-color: var(--nl-button-secondary-pressed-background-color);
  border-color: var(--nl-button-secondary-pressed-border-color);
  color: var(--nl-button-secondary-pressed-color);
}

/* SECONDARY POSITIVE */
@mixin nl-button--secondary-positive {
  background-color: var(--nl-button-secondary-positive-background-color);
  border-color: var(--nl-button-secondary-positive-border-color);
  color: var(--nl-button-secondary-positive-color);
}

@mixin nl-button--secondary-positive-active {
  background-color: var(--nl-button-secondary-positive-active-background-color);
  border-color: var(--nl-button-secondary-positive-active-border-color);
  color: var(--nl-button-secondary-positive-active-color);
}

@mixin nl-button--secondary-positive-disabled {
  background-color: var(--nl-button-secondary-disabled-background-color);
  border-color: var(--nl-button-secondary-disabled-border-color);
  color: var(--nl-button-secondary-disabled-color);
}

@mixin nl-button--secondary-positive-hover {
  background-color: var(--nl-button-secondary-positive-hover-background-color);
  border-color: var(--nl-button-secondary-positive-hover-border-color);
  color: var(--nl-button-secondary-positive-hover-color);
}

@mixin nl-button--secondary-positive-pressed {
  background-color: var(--nl-button-secondary-positive-pressed-background-color);
  border-color: var(--nl-button-secondary-positive-pressed-border-color);
  color: var(--nl-button-secondary-positive-pressed-color);
}

/* SECONDARY NEGATIVE */
@mixin nl-button--secondary-negative {
  background-color: var(--nl-button-secondary-negative-background-color);
  border-color: var(--nl-button-secondary-negative-border-color);
  color: var(--nl-button-secondary-negative-color);
}

@mixin nl-button--secondary-negative-active {
  background-color: var(--nl-button-secondary-negative-active-background-color);
  border-color: var(--nl-button-secondary-negative-active-border-color);
  color: var(--nl-button-secondary-negative-active-color);
}

@mixin nl-button--secondary-negative-disabled {
  background-color: var(--nl-button-secondary-disabled-background-color);
  border-color: var(--nl-button-secondary-disabled-border-color);
  color: var(--nl-button-secondary-disabled-color);
}

@mixin nl-button--secondary-negative-hover {
  background-color: var(--nl-button-secondary-negative-hover-background-color);
  border-color: var(--nl-button-secondary-negative-hover-border-color);
  color: var(--nl-button-secondary-negative-hover-color);
}

@mixin nl-button--secondary-negative-pressed {
  background-color: var(--nl-button-secondary-negative-pressed-background-color);
  border-color: var(--nl-button-secondary-negative-pressed-border-color);
  color: var(--nl-button-secondary-negative-pressed-color);
}

/* SUBTLE */
@mixin nl-button--subtle {
  background-color: var(--nl-button-subtle-background-color);
  border-color: var(--nl-button-subtle-border-color);
  border-width: var(--nl-button-subtle-border-width);
  color: var(--nl-button-subtle-color);
  font-size: var(--nl-button-subtle-font-size);
  font-weight: var(--nl-button-subtle-font-weight);
  line-height: var(--nl-button-subtle-line-height);
}

@mixin nl-button--subtle-active {
  background-color: var(--nl-button-subtle-active-background-color);
  border-color: var(--nl-button-subtle-active-border-color);
  color: var(--nl-button-subtle-active-color);
}

@mixin nl-button--subtle-disabled {
  background-color: var(--nl-button-subtle-disabled-background-color);
  border-color: var(--nl-button-subtle-disabled-border-color);
  color: var(--nl-button-subtle-disabled-color);
}

@mixin nl-button--subtle-hover {
  background-color: var(--nl-button-subtle-hover-background-color);
  border-color: var(--nl-button-subtle-hover-border-color);
  color: var(--nl-button-subtle-hover-color);
}

@mixin nl-button--subtle-pressed {
  background-color: var(--nl-button-subtle-pressed-background-color);
  border-color: var(--nl-button-subtle-pressed-border-color);
  color: var(--nl-button-subtle-pressed-color);
}

/* SUBTLE POSITIVE */
@mixin nl-button--subtle-positive {
  background-color: var(--nl-button-subtle-positive-background-color);
  border-color: var(--nl-button-subtle-positive-border-color);
  color: var(--nl-button-subtle-positive-color);
}

@mixin nl-button--subtle-positive-active {
  background-color: var(--nl-button-subtle-positive-active-background-color);
  border-color: var(--nl-button-subtle-positive-active-border-color);
  color: var(--nl-button-subtle-positive-active-color);
}

@mixin nl-button--subtle-positive-disabled {
  background-color: var(--nl-button-subtle-disabled-background-color);
  border-color: var(--nl-button-subtle-disabled-border-color);
  color: var(--nl-button-subtle-disabled-color);
}

@mixin nl-button--subtle-positive-hover {
  background-color: var(--nl-button-subtle-positive-hover-background-color);
  border-color: var(--nl-button-subtle-positive-hover-border-color);
  color: var(--nl-button-subtle-positive-hover-color);
}

@mixin nl-button--subtle-positive-pressed {
  background-color: var(--nl-button-subtle-positive-pressed-background-color);
  border-color: var(--nl-button-subtle-positive-pressed-border-color);
  color: var(--nl-button-subtle-positive-pressed-color);
}

/* SUBTLE NEGATIVE */
@mixin nl-button--subtle-negative {
  background-color: var(--nl-button-subtle-negative-background-color);
  border-color: var(--nl-button-subtle-negative-border-color);
  color: var(--nl-button-subtle-negative-color);
}

@mixin nl-button--subtle-negative-active {
  background-color: var(--nl-button-subtle-negative-active-background-color);
  border-color: var(--nl-button-subtle-negative-active-border-color);
  color: var(--nl-button-subtle-negative-active-color);
}

@mixin nl-button--subtle-negative-disabled {
  background-color: var(--nl-button-subtle-disabled-background-color);
  border-color: var(--nl-button-subtle-disabled-border-color);
  color: var(--nl-button-subtle-disabled-color);
}

@mixin nl-button--subtle-negative-hover {
  background-color: var(--nl-button-subtle-negative-hover-background-color);
  border-color: var(--nl-button-subtle-negative-hover-border-color);
  color: var(--nl-button-subtle-negative-hover-color);
}

@mixin nl-button--subtle-negative-pressed {
  background-color: var(--nl-button-subtle-negative-pressed-background-color);
  border-color: var(--nl-button-subtle-negative-pressed-border-color);
  color: var(--nl-button-subtle-negative-pressed-color);
}
