@use "mixin";

.nl-button {
  @include mixin.nl-button;
  @include mixin.nl-button--default;
  @include mixin.nl-button--formatted-content;
}

/**
 * Forcefully apply CSS system-color values using `!important`.
 */
@media screen and (forced-colors: active) {
  .nl-button {
    @include mixin.nl-button--forced-colors;
  }

  /*
   * `<button disabled>` has these styles by default, but other elements styles as button do not:
   *
   * - `<button aria-disabled="true">`
   * - `<div role="button">` needs this.
   * - `<a role="button">` needs this.
   */
  .nl-button--disabled {
    @include mixin.nl-button--forced-colors-disabled;
  }

  .nl-button--pressed {
    @include mixin.nl-button--forced-colors-pressed;
  }

  .nl-button--pressed.nl-button--disabled {
    @include mixin.nl-button--forced-colors-pressed-disabled;
  }

  .nl-button:not(.nl-button--disabled):hover {
    @include mixin.nl-button--forced-colors-hover;
  }
}

.nl-button[hidden] {
  display: none;
}

.nl-button--icon-only {
  @include mixin.nl-button--icon-only;
}

.nl-button--icon-only .nl-button__label {
  @include mixin.nl-button__label--sr-only;
}

.nl-button__icon-start {
  @include mixin.nl-button__icon-start;
}

.nl-button__icon-end {
  @include mixin.nl-button__icon-end;
}

.nl-button__label {
  @include mixin.nl-button__label;
}

.nl-button::after {
  content: "";
  @include mixin.nl-button__pointer-target;
}

.nl-button:hover {
  @include mixin.nl-button--default-hover;
}

.nl-button:active {
  @include mixin.nl-button--default-active;
}

.nl-button.nl-button--pressed {
  @include mixin.nl-button--default-pressed;
}

.nl-button:where(.nl-button--pressed):hover {
  @include mixin.nl-button--default-pressed-hover;
}

.nl-button:where(.nl-button--pressed):active {
  @include mixin.nl-button--default-pressed-active;
}

.nl-button.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--default-pressed-disabled;
}

.nl-button.nl-button--disabled {
  @include mixin.nl-button--disabled;
  @include mixin.nl-button--default-disabled;
}

/* PRIMARY */
.nl-button:where(.nl-button--primary) {
  @include mixin.nl-button--primary;
}

.nl-button:where(.nl-button--primary):hover {
  @include mixin.nl-button--primary-hover;
}

.nl-button:where(.nl-button--primary):active {
  @include mixin.nl-button--primary-active;
}

.nl-button:where(.nl-button--primary).nl-button--pressed {
  @include mixin.nl-button--primary-pressed;
}

.nl-button:where(.nl-button--primary.nl-button--pressed):hover {
  @include mixin.nl-button--primary-pressed-hover;
}

.nl-button:where(.nl-button--primary.nl-button--pressed):active {
  @include mixin.nl-button--primary-pressed-active;
}

.nl-button:where(.nl-button--primary).nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--primary-pressed-disabled;
}

.nl-button:where(.nl-button--primary).nl-button--disabled {
  @include mixin.nl-button--primary-disabled;
}

/** PRIMARY POSITIVE */
.nl-button:where(.nl-button--primary).nl-button--positive {
  @include mixin.nl-button--primary-positive;
}

.nl-button:where(.nl-button--primary).nl-button--positive:hover {
  @include mixin.nl-button--primary-positive-hover;
}

.nl-button:where(.nl-button--primary).nl-button--positive:active {
  @include mixin.nl-button--primary-positive-active;
}

.nl-button:where(.nl-button--primary).nl-button--positive.nl-button--pressed {
  @include mixin.nl-button--primary-positive-pressed;
}

.nl-button:where(.nl-button--primary.nl-button--positive).nl-button--pressed:hover {
  @include mixin.nl-button--primary-positive-pressed-hover;
}

.nl-button:where(.nl-button--primary.nl-button--positive).nl-button--pressed:active {
  @include mixin.nl-button--primary-positive-pressed-active;
}

.nl-button:where(.nl-button--primary).nl-button--positive.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--primary-positive-pressed-disabled;
}

.nl-button:where(.nl-button--primary).nl-button--positive.nl-button--disabled {
  @include mixin.nl-button--primary-positive-disabled;
}

/** PRIMARY NEGATIVE */
.nl-button:where(.nl-button--primary).nl-button--negative {
  @include mixin.nl-button--primary-negative;
}

.nl-button:where(.nl-button--primary).nl-button--negative:hover {
  @include mixin.nl-button--primary-negative-hover;
}

.nl-button:where(.nl-button--primary).nl-button--negative:active {
  @include mixin.nl-button--primary-negative-active;
}

.nl-button:where(.nl-button--primary).nl-button--negative.nl-button--pressed {
  @include mixin.nl-button--primary-negative-pressed;
}

.nl-button:where(.nl-button--primary.nl-button--negative).nl-button--pressed:hover {
  @include mixin.nl-button--primary-negative-pressed-hover;
}

.nl-button:where(.nl-button--primary.nl-button--negative).nl-button--pressed:active {
  @include mixin.nl-button--primary-negative-pressed-active;
}

.nl-button:where(.nl-button--primary).nl-button--negative.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--primary-negative-pressed-disabled;
}

.nl-button:where(.nl-button--primary).nl-button--negative.nl-button--disabled {
  @include mixin.nl-button--primary-negative-disabled;
}

/* SECONDARY */
.nl-button:where(.nl-button--secondary) {
  @include mixin.nl-button--secondary;
}

.nl-button:where(.nl-button--secondary):hover {
  @include mixin.nl-button--secondary-hover;
}

.nl-button:where(.nl-button--secondary):active {
  @include mixin.nl-button--secondary-active;
}

.nl-button:where(.nl-button--secondary).nl-button--pressed {
  @include mixin.nl-button--secondary-pressed;
}

.nl-button:where(.nl-button--secondary.nl-button--pressed):hover {
  @include mixin.nl-button--secondary-pressed-hover;
}

.nl-button:where(.nl-button--secondary.nl-button--pressed):active {
  @include mixin.nl-button--secondary-pressed-active;
}

.nl-button:where(.nl-button--secondary).nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--secondary-pressed-disabled;
}

.nl-button:where(.nl-button--secondary).nl-button--disabled {
  @include mixin.nl-button--secondary-disabled;
}

/* SECONDARY POSITIVE */
.nl-button:where(.nl-button--secondary).nl-button--positive {
  @include mixin.nl-button--secondary-positive;
}

.nl-button:where(.nl-button--secondary).nl-button--positive:hover {
  @include mixin.nl-button--secondary-positive-hover;
}

.nl-button:where(.nl-button--secondary).nl-button--positive:active {
  @include mixin.nl-button--secondary-positive-active;
}

.nl-button:where(.nl-button--secondary).nl-button--positive.nl-button--pressed {
  @include mixin.nl-button--secondary-positive-pressed;
}

.nl-button:where(.nl-button--secondary.nl-button--positive).nl-button--pressed:hover {
  @include mixin.nl-button--secondary-positive-pressed-hover;
}

.nl-button:where(.nl-button--secondary.nl-button--positive).nl-button--pressed:active {
  @include mixin.nl-button--secondary-positive-pressed-active;
}

.nl-button:where(.nl-button--secondary).nl-button--positive.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--secondary-positive-pressed-disabled;
}

.nl-button:where(.nl-button--secondary).nl-button--positive.nl-button--disabled {
  @include mixin.nl-button--secondary-positive-disabled;
}

/* SECONDARY NEGATIVE */
.nl-button:where(.nl-button--secondary).nl-button--negative {
  @include mixin.nl-button--secondary-negative;
}

.nl-button:where(.nl-button--secondary).nl-button--negative:hover {
  @include mixin.nl-button--secondary-negative-hover;
}

.nl-button:where(.nl-button--secondary).nl-button--negative:active {
  @include mixin.nl-button--secondary-negative-active;
}

.nl-button:where(.nl-button--secondary).nl-button--negative.nl-button--pressed {
  @include mixin.nl-button--secondary-negative-pressed;
}

.nl-button:where(.nl-button--secondary.nl-button--negative).nl-button--pressed:hover {
  @include mixin.nl-button--secondary-negative-pressed-hover;
}

.nl-button:where(.nl-button--secondary.nl-button--negative).nl-button--pressed:active {
  @include mixin.nl-button--secondary-negative-pressed-active;
}

.nl-button:where(.nl-button--secondary).nl-button--negative.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--secondary-negative-pressed-disabled;
}

.nl-button:where(.nl-button--secondary).nl-button--negative.nl-button--disabled {
  @include mixin.nl-button--secondary-negative-disabled;
}

/* SUBTLE */
.nl-button:where(.nl-button--subtle) {
  @include mixin.nl-button--subtle;
}

.nl-button:where(.nl-button--subtle):hover {
  @include mixin.nl-button--subtle-hover;
}

.nl-button:where(.nl-button--subtle):active {
  @include mixin.nl-button--subtle-active;
}

.nl-button:where(.nl-button--subtle).nl-button--pressed {
  @include mixin.nl-button--subtle-pressed;
}

.nl-button:where(.nl-button--subtle.nl-button--pressed):hover {
  @include mixin.nl-button--subtle-pressed-hover;
}

.nl-button:where(.nl-button--subtle.nl-button--pressed):active {
  @include mixin.nl-button--subtle-pressed-active;
}

.nl-button:where(.nl-button--subtle).nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--subtle-pressed-disabled;
}

.nl-button:where(.nl-button--subtle).nl-button--disabled {
  @include mixin.nl-button--subtle-disabled;
}

/* SUBTLE POSITIVE */
.nl-button:where(.nl-button--subtle).nl-button--positive {
  @include mixin.nl-button--subtle-positive;
}

.nl-button:where(.nl-button--subtle).nl-button--positive:hover {
  @include mixin.nl-button--subtle-positive-hover;
}

.nl-button:where(.nl-button--subtle).nl-button--positive:active {
  @include mixin.nl-button--subtle-positive-active;
}

.nl-button:where(.nl-button--subtle).nl-button--positive.nl-button--pressed {
  @include mixin.nl-button--subtle-positive-pressed;
}

.nl-button:where(.nl-button--subtle.nl-button--positive).nl-button--pressed:hover {
  @include mixin.nl-button--subtle-positive-pressed-hover;
}

.nl-button:where(.nl-button--subtle.nl-button--positive).nl-button--pressed:active {
  @include mixin.nl-button--subtle-positive-pressed-active;
}

.nl-button:where(.nl-button--subtle).nl-button--positive.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--subtle-positive-pressed-disabled;
}

.nl-button:where(.nl-button--subtle).nl-button--positive.nl-button--disabled {
  @include mixin.nl-button--subtle-positive-disabled;
}

/* SUBTLE NEGATIVE */
.nl-button:where(.nl-button--subtle).nl-button--negative {
  @include mixin.nl-button--subtle-negative;
}

.nl-button:where(.nl-button--subtle).nl-button--negative:hover {
  @include mixin.nl-button--subtle-negative-hover;
}

.nl-button:where(.nl-button--subtle).nl-button--negative:active {
  @include mixin.nl-button--subtle-negative-active;
}

.nl-button:where(.nl-button--subtle).nl-button--negative.nl-button--pressed {
  @include mixin.nl-button--subtle-negative-pressed;
}

.nl-button:where(.nl-button--subtle.nl-button--negative).nl-button--pressed:hover {
  @include mixin.nl-button--subtle-negative-pressed-hover;
}

.nl-button:where(.nl-button--subtle.nl-button--negative).nl-button--pressed:active {
  @include mixin.nl-button--subtle-negative-pressed-active;
}

.nl-button:where(.nl-button--subtle).nl-button--negative.nl-button--pressed.nl-button--disabled {
  @include mixin.nl-button--subtle-negative-pressed-disabled;
}

.nl-button:where(.nl-button--subtle).nl-button--negative.nl-button--disabled {
  @include mixin.nl-button--subtle-negative-disabled;
}

.nl-button:focus-visible {
  @include mixin.nl-button--focus-visible;
}
