@use "mixin";

.nl-button {
  @include mixin.nl-button--default;
  @include mixin.nl-button;
}

.nl-button__icon {
  @include mixin.nl-button__icon;
}

.nl-button__label {
  @include mixin.nl-button__label;
}

.nl-button:hover {
  @include mixin.nl-button--default-hover;
}

.nl-button:active {
  @include mixin.nl-button--default-active;
}

.nl-button[aria-pressed="true"] {
  @include mixin.nl-button--default-pressed;
}

.nl-button:where([aria-pressed="true"]):hover {
  @include mixin.nl-button--default-pressed-hover;
}

.nl-button:where([aria-pressed="true"]):active {
  @include mixin.nl-button--default-pressed-active;
}

.nl-button[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--default-pressed-disabled;
}

.nl-button[aria-disabled="true"] {
  @include mixin.nl-button--disabled;
  @include mixin.nl-button--default-disabled;
}

/* PRIMARY */
.nl-button:where(.nl-button--primary) {
  @include mixin.nl-button--primary;
}

.nl-button:where(.nl-button--primary):hover {
  @include mixin.nl-button--primary-hover;
}

.nl-button:where(.nl-button--primary):active {
  @include mixin.nl-button--primary-active;
}

.nl-button:where(.nl-button--primary)[aria-pressed="true"] {
  @include mixin.nl-button--primary-pressed;
}

.nl-button:where(.nl-button--primary[aria-pressed="true"]):hover {
  @include mixin.nl-button--primary-pressed-hover;
}

.nl-button:where(.nl-button--primary[aria-pressed="true"]):active {
  @include mixin.nl-button--primary-pressed-active;
}

.nl-button:where(.nl-button--primary)[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--primary-pressed-disabled;
}

.nl-button:where(.nl-button--primary)[aria-disabled="true"] {
  @include mixin.nl-button--primary-disabled;
}

/** PRIMARY POSITIVE */
.nl-button:where(.nl-button--primary).nl-button--positive {
  @include mixin.nl-button--primary-positive;
}

.nl-button:where(.nl-button--primary).nl-button--positive:hover {
  @include mixin.nl-button--primary-positive-hover;
}

.nl-button:where(.nl-button--primary).nl-button--positive:active {
  @include mixin.nl-button--primary-positive-active;
}

.nl-button:where(.nl-button--primary).nl-button--positive[aria-pressed="true"] {
  @include mixin.nl-button--primary-positive-pressed;
}

.nl-button:where(.nl-button--primary.nl-button--positive)[aria-pressed="true"]:hover {
  @include mixin.nl-button--primary-positive-pressed-hover;
}

.nl-button:where(.nl-button--primary.nl-button--positive)[aria-pressed="true"]:active {
  @include mixin.nl-button--primary-positive-pressed-active;
}

.nl-button:where(.nl-button--primary).nl-button--positive[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--primary-positive-pressed-disabled;
}

.nl-button:where(.nl-button--primary).nl-button--positive[aria-disabled="true"] {
  @include mixin.nl-button--primary-positive-disabled;
}

/** PRIMARY NEGATIVE */
.nl-button:where(.nl-button--primary).nl-button--negative {
  @include mixin.nl-button--primary-negative;
}

.nl-button:where(.nl-button--primary).nl-button--negative:hover {
  @include mixin.nl-button--primary-negative-hover;
}

.nl-button:where(.nl-button--primary).nl-button--negative:active {
  @include mixin.nl-button--primary-negative-active;
}

.nl-button:where(.nl-button--primary).nl-button--negative[aria-pressed="true"] {
  @include mixin.nl-button--primary-negative-pressed;
}

.nl-button:where(.nl-button--primary.nl-button--negative)[aria-pressed="true"]:hover {
  @include mixin.nl-button--primary-negative-pressed-hover;
}

.nl-button:where(.nl-button--primary.nl-button--negative)[aria-pressed="true"]:active {
  @include mixin.nl-button--primary-negative-pressed-active;
}

.nl-button:where(.nl-button--primary).nl-button--negative[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--primary-negative-pressed-disabled;
}

.nl-button:where(.nl-button--primary).nl-button--negative[aria-disabled="true"] {
  @include mixin.nl-button--primary-negative-disabled;
}

/* SECONDARY */
.nl-button:where(.nl-button--secondary) {
  @include mixin.nl-button--secondary;
}

.nl-button:where(.nl-button--secondary):hover {
  @include mixin.nl-button--secondary-hover;
}

.nl-button:where(.nl-button--secondary):active {
  @include mixin.nl-button--secondary-active;
}

.nl-button:where(.nl-button--secondary)[aria-pressed="true"] {
  @include mixin.nl-button--secondary-pressed;
}

.nl-button:where(.nl-button--secondary[aria-pressed="true"]):hover {
  @include mixin.nl-button--secondary-pressed-hover;
}

.nl-button:where(.nl-button--secondary[aria-pressed="true"]):active {
  @include mixin.nl-button--secondary-pressed-active;
}

.nl-button:where(.nl-button--secondary)[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--secondary-pressed-disabled;
}

.nl-button:where(.nl-button--secondary)[aria-disabled="true"] {
  @include mixin.nl-button--secondary-disabled;
}

/* SECONDARY POSITIVE */
.nl-button:where(.nl-button--secondary).nl-button--positive {
  @include mixin.nl-button--secondary-positive;
}

.nl-button:where(.nl-button--secondary).nl-button--positive:hover {
  @include mixin.nl-button--secondary-positive-hover;
}

.nl-button:where(.nl-button--secondary).nl-button--positive:active {
  @include mixin.nl-button--secondary-positive-active;
}

.nl-button:where(.nl-button--secondary).nl-button--positive[aria-pressed="true"] {
  @include mixin.nl-button--secondary-positive-pressed;
}

.nl-button:where(.nl-button--secondary.nl-button--positive)[aria-pressed="true"]:hover {
  @include mixin.nl-button--secondary-positive-pressed-hover;
}

.nl-button:where(.nl-button--secondary.nl-button--positive)[aria-pressed="true"]:active {
  @include mixin.nl-button--secondary-positive-pressed-active;
}

.nl-button:where(.nl-button--secondary).nl-button--positive[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--secondary-positive-pressed-disabled;
}

.nl-button:where(.nl-button--secondary).nl-button--positive[aria-disabled="true"] {
  @include mixin.nl-button--secondary-positive-disabled;
}

/* SECONDARY NEGATIVE */
.nl-button:where(.nl-button--secondary).nl-button--negative {
  @include mixin.nl-button--secondary-negative;
}

.nl-button:where(.nl-button--secondary).nl-button--negative:hover {
  @include mixin.nl-button--secondary-negative-hover;
}

.nl-button:where(.nl-button--secondary).nl-button--negative:active {
  @include mixin.nl-button--secondary-negative-active;
}

.nl-button:where(.nl-button--secondary).nl-button--negative[aria-pressed="true"] {
  @include mixin.nl-button--secondary-negative-pressed;
}

.nl-button:where(.nl-button--secondary.nl-button--negative)[aria-pressed="true"]:hover {
  @include mixin.nl-button--secondary-negative-pressed-hover;
}

.nl-button:where(.nl-button--secondary.nl-button--negative)[aria-pressed="true"]:active {
  @include mixin.nl-button--secondary-negative-pressed-active;
}

.nl-button:where(.nl-button--secondary).nl-button--negative[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--secondary-negative-pressed-disabled;
}

.nl-button:where(.nl-button--secondary).nl-button--negative[aria-disabled="true"] {
  @include mixin.nl-button--secondary-negative-disabled;
}

/* SUBTLE */
.nl-button:where(.nl-button--subtle) {
  @include mixin.nl-button--subtle;
}

.nl-button:where(.nl-button--subtle):hover {
  @include mixin.nl-button--subtle-hover;
}

.nl-button:where(.nl-button--subtle):active {
  @include mixin.nl-button--subtle-active;
}

.nl-button:where(.nl-button--subtle)[aria-pressed="true"] {
  @include mixin.nl-button--subtle-pressed;
}

.nl-button:where(.nl-button--subtle[aria-pressed="true"]):hover {
  @include mixin.nl-button--subtle-pressed-hover;
}

.nl-button:where(.nl-button--subtle[aria-pressed="true"]):active {
  @include mixin.nl-button--subtle-pressed-active;
}

.nl-button:where(.nl-button--subtle)[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--subtle-pressed-disabled;
}

.nl-button:where(.nl-button--subtle)[aria-disabled="true"] {
  @include mixin.nl-button--subtle-disabled;
}

/* SUBTLE POSITIVE */
.nl-button:where(.nl-button--subtle).nl-button--positive {
  @include mixin.nl-button--subtle-positive;
}

.nl-button:where(.nl-button--subtle).nl-button--positive:hover {
  @include mixin.nl-button--subtle-positive-hover;
}

.nl-button:where(.nl-button--subtle).nl-button--positive:active {
  @include mixin.nl-button--subtle-positive-active;
}

.nl-button:where(.nl-button--subtle).nl-button--positive[aria-pressed="true"] {
  @include mixin.nl-button--subtle-positive-pressed;
}

.nl-button:where(.nl-button--subtle.nl-button--positive)[aria-pressed="true"]:hover {
  @include mixin.nl-button--subtle-positive-pressed-hover;
}

.nl-button:where(.nl-button--subtle.nl-button--positive)[aria-pressed="true"]:active {
  @include mixin.nl-button--subtle-positive-pressed-active;
}

.nl-button:where(.nl-button--subtle).nl-button--positive[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--subtle-positive-pressed-disabled;
}

.nl-button:where(.nl-button--subtle).nl-button--positive[aria-disabled="true"] {
  @include mixin.nl-button--subtle-positive-disabled;
}

/* SUBTLE NEGATIVE */
.nl-button:where(.nl-button--subtle).nl-button--negative {
  @include mixin.nl-button--subtle-negative;
}

.nl-button:where(.nl-button--subtle).nl-button--negative:hover {
  @include mixin.nl-button--subtle-negative-hover;
}

.nl-button:where(.nl-button--subtle).nl-button--negative:active {
  @include mixin.nl-button--subtle-negative-active;
}

.nl-button:where(.nl-button--subtle).nl-button--negative[aria-pressed="true"] {
  @include mixin.nl-button--subtle-negative-pressed;
}

.nl-button:where(.nl-button--subtle.nl-button--negative)[aria-pressed="true"]:hover {
  @include mixin.nl-button--subtle-negative-pressed-hover;
}

.nl-button:where(.nl-button--subtle.nl-button--negative)[aria-pressed="true"]:active {
  @include mixin.nl-button--subtle-negative-pressed-active;
}

.nl-button:where(.nl-button--subtle).nl-button--negative[aria-pressed="true"][aria-disabled="true"] {
  @include mixin.nl-button--subtle-negative-pressed-disabled;
}

.nl-button:where(.nl-button--subtle).nl-button--negative[aria-disabled="true"] {
  @include mixin.nl-button--subtle-negative-disabled;
}

.nl-button:focus-visible,
.nl-button.nl-button--focus-visible {
  @include mixin.nl-button--focus-visible;
}
