@use "./mixin";
@use "./html/mixin" as mixinHTML;

/*
 * Used for stories in Storybook
 */

.nl-button--focus-visible {
  @include mixin.nl-button--focus-visible;
}

.nl-button--zoom-200 {
  font-size: 2rem !important;
}

.nl-button.nl-button--active {
  @include mixin.nl-button--default-active;
}

.nl-button.nl-button--hover {
  @include mixin.nl-button--default-hover;
}

.nl-button[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--default-pressed-hover;
}

.nl-button[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--default-pressed-active;
}

/* primary */
.nl-button.nl-button--primary.nl-button--hover {
  @include mixin.nl-button--primary-hover;
}

.nl-button.nl-button--primary.nl-button--active {
  @include mixin.nl-button--primary-active;
}

.nl-button.nl-button--primary[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--primary-pressed-hover;
}

.nl-button.nl-button--primary[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--primary-pressed-active;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--primary-positive-hover;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--active {
  @include mixin.nl-button--primary-positive-active;
}

.nl-button.nl-button--primary.nl-button--positive[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--primary-positive-pressed-hover;
}

.nl-button.nl-button--primary.nl-button--positive[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--primary-positive-pressed-active;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--primary-negative-hover;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--active {
  @include mixin.nl-button--primary-negative-active;
}

.nl-button.nl-button--primary.nl-button--negative[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--primary-negative-pressed-hover;
}

.nl-button.nl-button--primary.nl-button--negative[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--primary-negative-pressed-active;
}

/* secondary */
.nl-button.nl-button--secondary.nl-button--hover {
  @include mixin.nl-button--secondary-hover;
}

.nl-button.nl-button--secondary.nl-button--active {
  @include mixin.nl-button--secondary-active;
}

.nl-button.nl-button--secondary[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--secondary-pressed-hover;
}

.nl-button.nl-button--secondary[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--secondary-pressed-active;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--secondary-positive-hover;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--active {
  @include mixin.nl-button--secondary-positive-active;
}

.nl-button.nl-button--secondary.nl-button--positive[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--secondary-positive-pressed-hover;
}

.nl-button.nl-button--secondary.nl-button--positive[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--secondary-positive-pressed-active;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--secondary-negative-hover;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--active {
  @include mixin.nl-button--secondary-negative-active;
}

.nl-button.nl-button--secondary.nl-button--negative[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--secondary-negative-pressed-hover;
}

.nl-button.nl-button--secondary.nl-button--negative[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--secondary-negative-pressed-active;
}

/* subtle */
.nl-button.nl-button--subtle.nl-button--hover {
  @include mixin.nl-button--subtle-hover;
}

.nl-button.nl-button--subtle.nl-button--active {
  @include mixin.nl-button--subtle-active;
}

.nl-button.nl-button--subtle[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--subtle-pressed-hover;
}

.nl-button.nl-button--subtle[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--subtle-pressed-active;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--subtle-positive-hover;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--active {
  @include mixin.nl-button--subtle-positive-active;
}

.nl-button.nl-button--subtle.nl-button--positive[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--subtle-positive-pressed-hover;
}

.nl-button.nl-button--subtle.nl-button--positive[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--subtle-positive-pressed-active;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--subtle-negative-hover;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--active {
  @include mixin.nl-button--subtle-negative-active;
}

.nl-button.nl-button--subtle.nl-button--negative[aria-pressed="true" i].nl-button--hover {
  @include mixin.nl-button--subtle-negative-pressed-hover;
}

.nl-button.nl-button--subtle.nl-button--negative[aria-pressed="true" i].nl-button--active {
  @include mixin.nl-button--subtle-negative-pressed-active;
}

/* html */
.nl-html--button {
  @include mixinHTML.nl-html--button;
}
