@use "./mixin";
@use "./html/mixin" as mixinHTML;

/*
 * Used for stories in Storybook
 */

/* stylelint-disable-next-line selector-max-id */
#storybook-root .nl-button--focus-visible-test {
  @include mixin.nl-button--focus-visible;
}

.nl-button--zoom-200-test {
  font-size: 2rem !important;
}

.nl-button.nl-button--active-test {
  @include mixin.nl-button--default-active;
}

.nl-button.nl-button--hover-test {
  @include mixin.nl-button--default-hover;
}

.nl-button.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--default-pressed-hover;
}

.nl-button.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--default-pressed-active;
}

/* primary */
.nl-button.nl-button--primary.nl-button--hover-test {
  @include mixin.nl-button--primary-hover;
}

.nl-button.nl-button--primary.nl-button--active-test {
  @include mixin.nl-button--primary-active;
}

.nl-button.nl-button--primary.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--primary-pressed-hover;
}

.nl-button.nl-button--primary.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--primary-pressed-active;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--hover-test {
  @include mixin.nl-button--primary-positive-hover;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--active-test {
  @include mixin.nl-button--primary-positive-active;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--primary-positive-pressed-hover;
}

.nl-button.nl-button--primary.nl-button--positive.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--primary-positive-pressed-active;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--hover-test {
  @include mixin.nl-button--primary-negative-hover;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--active-test {
  @include mixin.nl-button--primary-negative-active;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--primary-negative-pressed-hover;
}

.nl-button.nl-button--primary.nl-button--negative.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--primary-negative-pressed-active;
}

/* secondary */
.nl-button.nl-button--secondary.nl-button--hover-test {
  @include mixin.nl-button--secondary-hover;
}

.nl-button.nl-button--secondary.nl-button--active-test {
  @include mixin.nl-button--secondary-active;
}

.nl-button.nl-button--secondary.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--secondary-pressed-hover;
}

.nl-button.nl-button--secondary.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--secondary-pressed-active;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--hover-test {
  @include mixin.nl-button--secondary-positive-hover;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--active-test {
  @include mixin.nl-button--secondary-positive-active;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--secondary-positive-pressed-hover;
}

.nl-button.nl-button--secondary.nl-button--positive.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--secondary-positive-pressed-active;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--hover-test {
  @include mixin.nl-button--secondary-negative-hover;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--active-test {
  @include mixin.nl-button--secondary-negative-active;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--secondary-negative-pressed-hover;
}

.nl-button.nl-button--secondary.nl-button--negative.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--secondary-negative-pressed-active;
}

/* subtle */
.nl-button.nl-button--subtle.nl-button--hover-test {
  @include mixin.nl-button--subtle-hover;
}

.nl-button.nl-button--subtle.nl-button--active-test {
  @include mixin.nl-button--subtle-active;
}

.nl-button.nl-button--subtle.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--subtle-pressed-hover;
}

.nl-button.nl-button--subtle.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--subtle-pressed-active;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--hover-test {
  @include mixin.nl-button--subtle-positive-hover;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--active-test {
  @include mixin.nl-button--subtle-positive-active;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--subtle-positive-pressed-hover;
}

.nl-button.nl-button--subtle.nl-button--positive.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--subtle-positive-pressed-active;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--hover-test {
  @include mixin.nl-button--subtle-negative-hover;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--active-test {
  @include mixin.nl-button--subtle-negative-active;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--pressed.nl-button--hover-test {
  @include mixin.nl-button--subtle-negative-pressed-hover;
}

.nl-button.nl-button--subtle.nl-button--negative.nl-button--pressed.nl-button--active-test {
  @include mixin.nl-button--subtle-negative-pressed-active;
}

/* Forced colors */
.nl-button.nl-button--forced-colors-test {
  @include mixin.nl-button--forced-colors;
}

.nl-button--disabled.nl-button--forced-colors-test {
  @include mixin.nl-button--forced-colors-disabled;
}

.nl-button--pressed.nl-button--forced-colors-test {
  @include mixin.nl-button--forced-colors-pressed;
}

.nl-button--pressed.nl-button--disabled.nl-button--forced-colors-test {
  @include mixin.nl-button--forced-colors-pressed-disabled;
}

.nl-button:not(.nl-button--disabled).nl-button--hover-test.nl-button--forced-colors-test {
  @include mixin.nl-button--forced-colors-hover;
}

/* html */
.nl-html--button {
  @include mixinHTML.nl-html--button;
}
