@use "./mixin";
@use "./html/mixin" as mixinHTML;

/*
 * Used for stories in Storybook
 */

.nl-button--focus-visible {
  @include mixin.nl-button--focus-visible;
}

.nl-button--zoom-200 {
  font-size: 2rem;
}

.nl-button.nl-button--active {
  @include mixin.nl-button--default-active;
}

.nl-button.nl-button--hover {
  @include mixin.nl-button--default-hover;
}

/* primary */
.nl-button--primary.nl-button--active {
  @include mixin.nl-button--primary-active;
}

.nl-button--primary.nl-button--hover {
  @include mixin.nl-button--primary-hover;
}

.nl-button--primary.nl-button--positive.nl-button--active {
  @include mixin.nl-button--primary-positive-active;
}

.nl-button--primary.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--primary-positive-hover;
}

.nl-button--primary.nl-button--negative.nl-button--active {
  @include mixin.nl-button--primary-negative-active;
}

.nl-button--primary.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--primary-negative-hover;
}

/* secondary */
.nl-button--secondary.nl-button--active {
  @include mixin.nl-button--secondary-active;
}

.nl-button--secondary.nl-button--hover {
  @include mixin.nl-button--secondary-hover;
}

.nl-button--secondary.nl-button--positive.nl-button--active {
  @include mixin.nl-button--secondary-positive-active;
}

.nl-button--secondary.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--secondary-positive-hover;
}

.nl-button--secondary.nl-button--negative.nl-button--active {
  @include mixin.nl-button--secondary-negative-active;
}

.nl-button--secondary.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--secondary-negative-hover;
}

/* subtle */
.nl-button--subtle.nl-button--active {
  @include mixin.nl-button--subtle-active;
}

.nl-button--subtle.nl-button--hover {
  @include mixin.nl-button--subtle-hover;
}

.nl-button--subtle.nl-button--positive.nl-button--active {
  @include mixin.nl-button--subtle-positive-active;
}

.nl-button--subtle.nl-button--positive.nl-button--hover {
  @include mixin.nl-button--subtle-positive-hover;
}

.nl-button--subtle.nl-button--negative.nl-button--active {
  @include mixin.nl-button--subtle-negative-active;
}

.nl-button--subtle.nl-button--negative.nl-button--hover {
  @include mixin.nl-button--subtle-negative-hover;
}

/* html */
.nl-button--html {
  @include mixinHTML.nl-button--html;
}
