@mixin nl-data-badge {
  background-color: var(--nl-data-badge-background-color);
  border-color: var(--nl-data-badge-border-color, currentColor);
  border-radius: var(--nl-data-badge-border-radius, 0);
  border-style: solid;
  border-width: var(--nl-data-badge-border-width, 1px);
  box-sizing: border-box;
  color: var(--nl-data-badge-color);
  display: inline-block;
  font-family: var(--nl-data-badge-font-family);
  font-size: var(--nl-data-badge-font-size);
  font-weight: var(--nl-data-badge-font-weight);
  line-height: var(--nl-data-badge-line-height);
  max-block-size: max-content;
  max-inline-size: max-content;
  min-block-size: var(--nl-data-badge-min-block-size);
  min-inline-size: var(--nl-data-badge-min-inline-size);
  padding-block: var(--nl-data-badge-padding-block);
  padding-inline: var(--nl-data-badge-padding-inline);
  text-decoration: none; /* no inheritance */
}

@mixin nl-data-badge--forced-colors {
  border-color: currentColor;

  /* Warning: there will be a layout difference because of the added 1px border */
  border-width: calc(min(var(--nl-data-badge-border-width, 1px), 1px));
}
